# CGIスクリプトを有効にする
Options +ExecCGI

# CGIスクリプトとして実行するファイルの拡張子を設定
AddHandler cgi-script .cgi

# ルートURLのリクエストをmain.cgiにリダイレクト
RewriteEngine On
RewriteBase /tiktok/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ main.cgi [L]

# /get_profileへのリクエストもmain.cgiにリダイレクトし、パス情報を保持
RewriteRule ^get_profile/(.*) main.cgi/$1 [L]
